.times-loader {
    color: #54d7c7 !important;
    margin-top: 50px;
}

.times-plot {
    padding: 0px 10px 0px 0px;
}

.Plot-description {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
