.App {
    text-align: center;
}

.App-header {
    text-align: left;
}

.Header-title {
    color: #54d7c7;
    font-weight: bold;
    font-size: 34px;
    padding: 10px 0px 0px 30px;
}

.Header-stroke {
    height: 3px;
    margin: 10px 30px 0px 30px;
    background-color: #959595;
}

.App-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Select {
    display: grid;
    grid-template-rows: 1fr 8fr 2fr;
    margin: 20px 30px 0px 30px;
}

.Select-bans {
    color: #f4ca78;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 7.5fr;
}

.Ban-list {
    display: flex;
    flex-direction: row;
}

.Ban-champ {
    height: 35px;
    width: 40px;
    margin: 0px 3px 0px 3px;
    border-radius: 5px;
    background-color: #7a7a7a;
}

.Ban-champ:hover {
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* border: 2px solid orangered */
}

.Ban-select {
    width: 110px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    color: black;
    margin-right: 5px;
}

.Teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.Blue-team {
    border: solid 5px #7ec8fe;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
}

.Red-team {
    border: solid 5px #e28092;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
}

.Submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0px 0px 0px;
}

.Submit-button {
    height: 50px;
    border: solid 5px #54d7c7;
    background-color: #232222;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #54d7c7;
}

.Submit-button:focus {
    outline: 0;
}

.Submit-button:disabled {
    color: white;
    height: 50px;
    border: 0;
    background-color: #7a7a7a;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: default !important;
}

.Submit-button:hover {
    cursor: pointer;
}

.Results {
    margin: 10px 10px 0px 10px;
}

.Blue-title {
    color: #7ec8fe;
    font-weight: bold;
    font-size: 28px;
}

.Red-title {
    color: #e28092;
    font-weight: bold;
    font-size: 28px;
}
